body {
    background: #2e3440;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0; padding: 0;
    font-size: 16px;
}

main {
    margin: auto;
    max-width: 1024px;
    padding: 16px;
}

h1 {
    text-align: center;
}

header, h1, h2, h3, h4, h5,h6 {
    font-family: 'Fredoka';
}

h2 {
    border-bottom: 2px solid #88c0d0;
    width: 512px;
    font-size: 28px;
}

.q, blockquote {
    background: #5e81ac;
    padding: 8px 16px;
    margin-left: 32px;
    border-left: 4px solid #81a1c1;
}

code, pre {
    background: #434c5e;
    padding: 4px 8px;
}

code { display: inline-block; }

header {
    background: #b48ead;
    padding: 16px;
    display: flex;
    flex-direction: row; 
align-items: center; }

header h1 {
    margin: 0;
    flex-grow: 1; }
header a, header a:visited, header a:active {
    color: #fff;
    padding: 4px;
    text-decoration: none; }

a {
    color: #88c0d0; }
a:visited {
    color: #88c0d0; }
a:active {
    color: #bf616a; }

.highlight .kt, .highlight .nc { /* types*/
    color: #88c0d0; }
.highlight .kd, .highlight .nt, .highlight .k, .highlight .kn {/*keywords*/
    color: #d08770; }
.highlight .s, .highlight .s2 { /*strings*/
    color: #a3be8c; }
.highlight .mf, .highlight .mi {
    color: #ebcb8b; }
.highlight .c, .highlight .c1, .highlight .c2 {
    color: #6e7c99; }

.mermaid {
    text-align: center; }
.mermaid:not([data-processed]) {
    display: none; }
.mermaid svg {
    background: #e5e9f0;
}

.button, a.button {
    display: inline-block;
    text-decoration: none;
    border-radius: 24px;
    color: #434c5e;
    background: #88c0d0;
    padding: 8px 16px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}

.task-green::marker, .task-green small {
    color: #a3be8c; }
.task-yellow::marker, .task-yellow small {
    color: #ebcb8b; }
.task-orange::marker, .task-orange small {
    color: #d08770; }
.task-red::marker, .task-red small {
    color: #bf616a; }
.task-purple::marker, .task-purple small {
    color: #b48ead; }

pre { overflow: auto; }