<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://unpkg.com/mermaid@8.14.0/dist/mermaid.min.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    {%if page.title or page.dataset %}
    <header>
      {%if page.up == "" %}
      {%elsif page.up %}
            <a href={{page.up}}>^</a>
      {%else%}
            <a href=".">^</a>
      {%endif%}
      
      {%if page.left %}
            <a href={{page.left}}>&lt;</a>
      {%elsif page.day and page.day > 1 %}
            <a href="day{{page.day | minus: 1}}.html">&lt;</a>      
      {%endif%}

      <h1>
      {%if page.dataset %}
        Day {{page.day}}: {{site.data[page.dataset][page.day].title}}
      {%else%}
        {{ page.title }}
      {%endif%}
    </h1>

      {%if page.right %}
           <a href={{page.right}}>&gt;</a>
      {%elsif page.day %}
           <a href="day{{page.day | plus: 1}}.html">&gt;</a> 
      {%endif%}
    </header>
    {%endif%}
    <main>
      {{ content }}

      {%if page.dataset and site.data[page.dataset][page.day].exercises %}
      <div align="center"><a class="button" href="day{{page.day}}-exercises">Exercises</a></div>
      {%endif%}
    </main>
    <script>mermaid.initialize({startOnLoad:true});</script>
  </body>
</html>
